env
dream_olfaction.egg-info
test/__pycache__
tonic/__pycache__
tonic/extra/__pycache__
/data/
*.ai
*.webp
gin/__pycache__
gin/extra/__pycache__
gin.egg-info
.DS_Store
.aid*
__pycache__
notebook/.ipynb_checkpoints
*.bak*
runs/
figures
notebook/Pyrfume_Floral.*.ipynb
.env
outputs
mlruns/0
.mind
gin/log/philosophy.md
mlruns
